
	
	<link rel="stylesheet" type="text/css" href="/asset/css/book.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
		


</head>
<body>

	<div class="wraper"> 

		<header >
			
			<nav id="navbar">
				
				<div  class="hamburger"> 

					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>



					
				</div>  
			
				<a  href="/" class="title"> YK</a>
				<a class="cart" href="/payments"><i class="fas fa-shopping-cart"></i></a>
				
				

			</nav>

		</header>

		<aside class="non-collapsed"> 

			<a href="/home" class="collapse-link"> Accuiel</a>
			<a href="/about" class="collapse-link"> A propos de l'auteur</a>
			<a href="/extraits" class="collapse-link"> Extraits </a>
			<a href="/temoignages" class="collapse-link"> Témoignages</a>
			<a href="payments" class="collapse-link"> Dons</a>
			<a href="/contact" class="collapse-link"> Nous contacter</a>
			
		</aside>