<% include partials/header1 %>

<title>Contactez nous</title>
<link rel="icon" href="image/yk.PNG" />
<% include partials/header2 %>


<div class="contact">
   
    <form class ="contact-form">
        <input name="name" placeholder="  Prenom">
        <input name="lastName" placeholder="  Nom de famille">
        <input name="email" placeholder="  Email" type="email">
        <input name="phone" placeholder="  Numero de telephone" >
        <textarea name="email-content" placeholder="comment pouvons nous vous aider" > </textarea>
        
        
        
        <button class="go-button"> Envoyer </button>
        
        
    </form>
    
    
    <!-- <div class="social">
        
            <a href="https://www.facebook.com/AjandBrothers/"><i class="fab fa-facebook-square" style="color: #3B5998"></i></a> 
			 <a href=""><i class="fab fa-linkedin" style="color: #0077B5"></i></a> 
			 <a href="https://www.instagram.com/aj_and_brothers/"><i class="fab fa-instagram" style="color: #fb3958"></i></a> 
			 <a href=""><i class="fab fa-twitter-square" style="color: #1DA1F2"></i></a>
        
        
    </div> -->

    
</div>




<% include partials/footer%>