<% include partials/header1 %>

<title>A propos</title>
<link rel="icon" href="image/yk.PNG" />
<% include partials/header2 %>

<div class="editor-container">
   
   <div class="editor-content">
       
       <h1> Modifier la page A propos de l'auteur </h1>
       
       <form action="/about/<%=about._id%>?_method=PUT" method="POST">
                 
                <input name="content" id="cont" type="hidden" value="<%=about.content%>">
                <trix-editor input="cont" class="trix-content"> </trix-editor>
                <button class="risk"> edit</button>
                
                
            
           
            
    
        </form> 
       <a href="/extraits/<%=about._id%>" class="risk"> Annuler</a>
   </div>
   
    
</div>








<%include partials/footer%>
